h1,
h2 {
  font-family: Lato;
}
.flex-container {
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  background-color: #e8e8e9;
}

.flex-item {
  flex: 0 1 auto;
  width: 100px;
  background-color: #8cacea;
  margin: 8px;
  min-height: 100px;
  color: #fff;
  padding: 4px;
}
